<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HashiCorp.Vault" version="0.3.0" targetFramework="net48" />
  <package id="JsonSubTypes" version="2.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="PlgxTool" version="1.0.3" targetFramework="net48" />
  <package id="Polly" version="7.2.4" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net48" />
</packages>